;; shadow-cljs configuration
{:source-paths ["."]
 :dependencies []
 :builds {:print {:target :node-library
                  :output-to "src/print"
                  :exports-fn src.print/exports}}}
